<div class="sidebar">
  <div class="sidebar_color">
    <h2>ORIZON</h2>
  </div>

  <div class="container_menu side_menu pullRight">
    <%= link_to "Traitements", client_treatments_path %>
      <a href="#">Projets en cours</a>
      <a href="#">Statistiques</a>
      <a href="#">Documents</a>
      <a href="#">Déconnexion</a>
    </div>
  </div>
</div>
