<div id="large-header" class="large-header spirale">
  <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">
      <span class="thin">ORIZON</span>
      <p class="subtitle">Smart data for smart decisions</p>
    </h1>
</div>


<!-- Banner présentation de la réglementation -->
<div class="container first-step-content city-orizon">
  <div class="col-md-12 content-center">
    <h1>LA RÉGLEMENTATION ÉVOLUE, VOS OBLIGATIONS AUSSI</h1>
    <h3>Le règlement général sur la protection des données prévoit des sanctions très sévères en cas de manquement à ses prescriptions, pouvant aller jusqu’à 4 millions d’euros ou 20% du chiffre d’affaire annuel.</h3>
    <h3>Orizon propose aux structures publiques (collectivités, établissements publics, associations…) et privées (TPE, ETI, PME…) une solution SaaS inédite de gestion et de traitement des données personnelles en parfaite conformité au cadre défini par le RGDP.</h3>
    <div class="btn-contact">
      <a href="" class="btn-blue">NOUS CONTACTER</a>
    </div>
  </div>
</div>

<!-- Banner notre solution -->
<div class="container second-step-content">
  <div class="col-md-12">
    <h1>NOTRE SOLUTION</h1>
    <div class="mini-feature col-md-4">
      <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/data-protection_rcxefl.png">
      <h3 class="mini-feature-heading">Vos données structurées</h3>
      <p class="mini-feature-description">Maîtrisez vos données grâce à une cartographie intégrale de vos traitements de données personnelles.
      </p>
    </div>
    <div class="mini-feature col-md-4">
      <img alt="Apps" src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/conformite_j9s2lg.png">
      <h3 class="mini-feature-heading">Votre conformité assurée</h3>
      <p class="mini-feature-description">Faites le choix de la conformité et reprenez le contrôle sur vos données personnelles.
      </p>
    </div>
    <div class="mini-feature col-md-4">
      <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/protegee_g1abdp.png">
      <h3 class="mini-feature-heading">Votre activité protégée</h3>
      <p class="mini-feature-description">Visualisez et gérez vos traitements de données personnelles en toute sécurité.
      </p>
    </div>
    </div>
  </div>
</div>

<!-- Banner présentation de la plateforme -->
<div class="container third-step-content">
  <div class="col-md-12">
    <h1>NOTRE PLATEFORME</h1>
    <div class="banner-plateforme-feature">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            Aurevoir
          </div>
          <div class="col-md-6">
            Bonjour
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Aurevoir
          </div>
          <div class="col-md-6">
            Bonjour
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-plateforme-feature-photo hidden-xs">
          <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513339502/Macbook-orizon_k5cmsh.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner Contact -->
<div class="container fourth-step-content">
  <div class="col-md-12">
    <h1>NOUS CONTACTER</h1>

  </div>
</div>


<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fa fa-heart"></i> at Paris
  </div>
</div>
